@import url('https://fonts.googleapis.com/css2?family=Coiny&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Coiny&family=Roboto:wght@400;700&display=swap');

:root {
    --title: Coiny;
    --subtitle: Roboto;
    --text: Roboto;
}
body{
    margin: 0;
    box-sizing: border-box;
    background-color: #F2F2F2;
}
main{
    width: 85vw;
    margin: auto;
}

header{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    flex-direction: row;
    margin: 1.5% auto;
}
header h1{

   display: flex;
   align-self: self-start;
}
nav {

    margin: auto 0;
   
}
nav a {
    padding: 10px;
    text-decoration: none;
    color: black;
    margin: 30px;
    
}
.title{
    font-family: var(--title);
}

.second-title{
    font-family: var(--title);
    font-size: 4rem;
}

.subtitle{

    font-family: var(--subtitle);
    font-size: 1.5rem;
    padding: 3px;

}

p, li, a, h2, h1, h3, label, button{
    font-family: var(--text);
}

.bg {
    background-color: #FCEE21;
}


hr{
    border: 1px solid;
}

#segundo-titulo{
    font-size: 2.9rem;
}
.inicio, .integrantes, .servicios, .contacto{
    margin: 40px auto;
}

.inicio{
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    justify-content: space-between;
}
.inicio #text {
    
    display: inline;
    position: relative;
    top: 20px;
    font-size: 1.6rem;
    font-weight: 400;
    
}
.inicio #text2 {

    font-size: 1.1rem;
    font-weight: 400;
    
}
.inicio figure{
    width: 500px;
    height: auto;
}
.inicio img {
    width: 100%;
}

.inicio article {
    width: 40%;
    display: inline-block; 
}

.inicio h1{
    margin: 5px auto;
}
.inicio p{
    margin: 7% 0;
    width: auto;
}
.inicio h2{
    font-size: 0.80rem;
    background-color: #FCEE21;
    padding-left: 10px;
    padding-right: 25px;
    display: inline-block;
    margin: 8px auto;
}
.integrantes{
    width: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
}

.integrantes article{
    width: 40%;
  
}
.servicios{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}
.servicios h2{
    font-family: var(--subtitle);
    font-size: 1.9rem;
    
}
.servicios figure{
    width: 455px;
    height: auto;
}
.servicios img {
    width: 100%;
}
.servicios article {
    width: auto;
    margin-left: auto;
    position: relative;
    left: 20px;
}
.servicios ol {
    padding-left: 25px;
}
.servicios li {
    margin: 22px auto;
}
.servicios strong{
    background-color: #FCEE21;
    padding: 5px;
 
    
}
.contacto{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.contacto form{
    width: 550px;
    display: flex;
    flex-direction: column;
}
.contacto label, input, textarea{
    display: block;
    margin: 10px 0;
}
.contacto input, textarea {
    width: 100%;
}
.contacto textarea{
    height: 110px;
}
.contacto input{
    height: 30px;
}
.btn-container{
    border-style: none;
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin: auto;
    padding: 0;
    
}
.btn{
    background-color: #000;
    color: white;
    border-style: none;
    padding: 10px 25px;
    cursor: pointer;
    font-size: 1rem;
}
.contacto p {
    display: inline-block;
    padding: 5px 15px;
    font-weight: 700;
}
.social{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: auto;
    
}
.social article{
    width: 90%;
    margin:30px auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    
}
.social p {
    text-align: start;
    color: #808080;
    
}
.social img {
    width: 90px;
    margin: 30px;
}
footer{
    width: 100%;
    background-color: #FCEE21;
    padding: 60px auto;
}
.info{
 width: 85vw;
 margin: auto;
 padding: 20px;

}
.contacto h3 {
    background-color: #000;
    display: inline-block;
    font-size: 2rem;
    color: white;
    margin: 5px;
    padding: 5px 10px;

}

footer h1 {
    display: inline-block;
    margin: auto 25px auto auto;
}
footer a {
    text-decoration: none;
    color: #000;
    margin: auto auto auto 25px;
    
}

/* medias celulares */
@media (width > 0) and (width < 480px) {


header{
    width: 100%;
    margin: auto;
    text-align: center;
}
header h1{
    width: 100%;
    display: block;
   text-align: center;
}
nav {

display: block;
text-align: center;
margin: auto;
   
}
nav a {
    margin: 0;
    display: inline-block;
    text-align: center;
   
}
.inicio{
    display: flex;
    margin: auto;
    justify-content: space-between;
}
.inicio #text {
    display: block;
    text-align: center;
    

}
.inicio figure{
    width: 700px;
    height: auto;
}
.inicio img {
    width: 100%;
}

.inicio article {
    width: 100%;
 
}
.integrantes {
    width: 100%;
}
.integrantes article {
    width: 100%;
   
}
.servicios{
    width: 100%;
}
.servicios article{
    width: 100%;
    
}
.servicios figure {
    margin: auto;
}
.servicios h2{
    width: 100%;
    padding: 0;
    text-align: center;
    
}
.servicios ol{
    margin: auto;
    width: 100%;
    padding-left: 1px;
    list-style-position: inside;
    
}
.social img{

    width: 75px;
}
.info{
text-align: center;
 width: 100%;
 padding: 2px;
 margin: 0;
}
.info a h1{
    display: inline-block;
    margin: 5px 0;
}
.info a {
    font-size: 1rem;
}

.info h1{
    font-size: 1rem;
}

}

/* medidas tablets */

@media(width > 480px) and ( width <= 1024px) {

    .inicio article{
        width: 40%;
    }

    .inicio figure{
        width: 300px;
        height: auto;
        margin: auto 0 0 auto;
    }

    .integrantes article{
    width: 45%;
    }
    
    .servicios {
        flex-wrap: nowrap;
        
    }
    .servicios {
        flex-wrap: nowrap;
    }
    .servicios figure {
        width: 560px;
        margin: auto;
       
    }

    .contacto article {
       width: 45%;
    }
    .contacto form {
        width: 45%;
    }
    .social {
        flex-wrap: nowrap;
    }
    .social article{

        flex-wrap: nowrap;
        margin: 0;
    }
}
